body{
    background-color: #163452;
}

h2{
    background-color: #f1c40f;
}

h3{
    color: #f1c40f;
}

.h2Red{
    color: #ff1c03;
}

.liWhite{
    color: white;
}


/*Cores utilizadas:

​#f1c40f -> Amarelo
#2c3e50 -> Azul
#e74c3c -> Vermelho*/