p{
    font-family: 'Roboto';/*monospace;Arial, Helvetica, sans-serif;*/
    font-size: 20px;
    font-weight: 600;/*bold;200 300 400*/
    line-height: 2;
}

h1{
    text-align: center;
    text-decoration: underline; /*line-through;*/
    font-family: 'Geostar', cursive;
    /*margin-top: 40px;*/
    /*margin-left: 30px;*/
    /*margin-bottom: 100px;*/
    margin: 45px auto 200px auto;
      /*margin: 45px 0px 200px 28px;*/
    width: 20%;
    border: 2px solid;
    padding: 10px 20px 30px 40px;
}